<div class="show">
  <% if @article.image.exists? %>
    <p class="img_holder"><%= image_tag @article.image.url, width: "200px", class: "article_img" %></p>
  <% end %>

  <div class="content">
    <div class="links">
      <%= link_to "Edit", edit_article_path(@article), class: "nav" %>
      <%= link_to "Delete", article_path(@article), class: "nav", method: :delete, data: {confirm: "Are you sure?"} %>
      <%= link_to "Back", articles_path, class: "nav" %>
    </div>
    
    <h1><%= @article.title %></h1>
    <p class="body">
      <%= @article.body %>
    </p>

    <p class="tags">
      Tags:
      <% @article.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>
      <% end %>
    </p>




    <div class="comments">
      <h3>Comments (<%= @article.comments.size %>)</h3>
      <%= render partial: "articles/comment", collection: @article.comments %>

      <%= render partial: "comments/form" %>
    </div>
  </div>
</div>
