<h1>Articles Tagged with <%= @tag.name %></h1>

<ul>
  <% @tag.articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>

<%= link_to "Home", articles_path, class: "nav" %>
<%= link_to "All tags", tags_path, class: "nav" %>
<%= link_to "Delete this tag", tag_path(@tag), class: "nav", method: :delete, data: {confirm: "Are you sure?"} %>
